
    #header{

        background-image: url('../img/bg_header.png');
        background-repeat: no-repeat;
        background-position: top;
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
        
        width: 100%;
        height:  auto;
    }
    #beneficios{
        background-image: url('../img/bg_iconos.jpg');
        background-position: top;
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
        width: 100%;
        height: auto;
    }
    #footer{
        background-image: url('../img/footer.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
        width: 100%;
        height:  auto;
    }
    .menu {

        position: absolute;
        top: 80px;
        left: 550px;

    }
    #menuMobile {
        display: none;
        background-repeat: repeat;
        height: 100%;
        position: fixed;
        z-index: 999;
        padding: 1rem 1rem;
        color: white;
    }
    .btnSeleccionado{
        background-color: white;!important;
        color: #95C11F;
        text-decoration: none;
    }
    .btnNoSeleccionado{
        background-color: #575756;!important;
        color:black;
    }
    .contenedor{
        max-width: 100% !important;

        margin-right: auto;
        margin-left: auto;

    }
    .texto{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
