    :root{
        --colorSomosBrava: #4cd0d0;
        --colorVisionarios: #10e905;
        --colorConocenos: #dbf35d
    }
    body{
        font-family: Lato-Regular;
    }
    a:hover{
        text-decoration: underline !important;
    }
    a{
        cursor: pointer !important;
    }
    /*.slider{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }*/
    .centrado{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /*Nosotros*/
    #nosotros{
        background-color: #6c757d;
        background-image: url("../img/nosotros/home-quienes-somos.jpg");
        background-position: center;
        background-size: cover;
        height: 40vh;
    }
    #nosotros .row{
        height: 100%;
    }
    #nosotros h1{
        font-size: 3.5rem;
    }
    #nosotros h2{
        font-size: 3rem;
    }
    #nosotros .conocenos{
        color: var(--colorConocenos);
        text-align: right;
        margin-bottom: 0;
    }
    #nosotros .brava{
        color: var(--colorSomosBrava);
        margin-bottom: 0;
    }
    #nosotros .visionarios{
        color: var(--colorVisionarios);
    }

    #nosotros .container-fluid{
        padding: 1% 10%;
        height: 100%;
    }
    #nosotros .title a:hover{
        text-decoration: none !important;
    }
    .title{
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    .seccion{
        margin-top: 4rem;
    }
    #aplicaciones img{
        width: 100%;
    }
    #aplicaciones .col-aplicaciones{
        padding: 0.3rem;
    }
    #servicios .card .card-body{
        padding: 0;
        text-align: center;
    }
    #servicios .card-title {
        margin-bottom: 4rem;
        margin-top: 2rem;
        color: white;
    }
    #servicios .btn.btn-secondary{
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        font-weight: bold;
    }
    #servicios .btn.btn-secondary:hover{
        color: #6c757d;
        background-color: #fff;
        border-color: #6c757d;
        text-decoration: none!important;
    }
    #servicios .card-integral{
        background-color: #0b63eb;
    }
    #servicios .card-fusion{
        background-color: #b40bb4;
    }
    #servicios .card-plus{
        background-color: #fbbb04;
    }

    #header{
        background-image: url('../img/bg_header.png');
        background-repeat: no-repeat;
        background-position: top;
        background-position-x: center;
        background-position-y: top;
        width: 100%;
        height:  130px;
    }
    #beneficios{
        background-image: url('../img/bg_iconos.jpg');
        background-position: top;
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
        width: 90%;
        height: auto;
    }
    #footer{
        background-image: url('../img/footer.jpg');
        /*background-repeat: no-repeat;*/
        background-position: top;
        *background-position-x: -265px;
        background-position-y: -18px;
        background-size: cover;
        width: 100%;
        height:  80px;
    }
    
    .menu {
        display: none;
        position: absolute;
        top: 40px;
        left: 530px;

    }
    .btn{
        white-space: normal !important;
    }
    .imgBeneficios{
        width: 100px;
    }
    #menuMobile {
        display: none;
        background-repeat: repeat;
        height: 100%;
        position: fixed;
        z-index: 999;
        padding: 1rem 1rem;
        color: white;
    }
    .btnSeleccionado{
        background-color: white !important;
        color: #95C11F;
        text-decoration: none;
    }
    .btnNoSeleccionado{
        background-color: #575756 !important;
        color:black;
    }
    /*.contenedor{
        max-width: 95% !important;
        margin-top: -20px;
        
        margin-right: auto;
        margin-left: auto;

    }*/
    #container-brava {
        padding-left: 0;
        padding-right: 0;
    }
    #container-brava .carousel-indicators {
        bottom: 4rem;
    }
    #container-brava .carousel-control-next,  #container-brava .carousel-control-prev{
        width: 5%;
    }

    .texto{
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .h5nos{
        margin-bottom: 0;
        font-size: 1.063rem;
    }
    #menuMobile {
        display: none;
        background-repeat: repeat;
        background-color: #575756;
        height: 100%;
        position: fixed;
        z-index: 999;
        padding: 1rem 1rem;
        color: white;
    }
    .burger {
        position: absolute;
         top: -1%;
         right: 2%;
        color: white;
        border: 1px solid white;
         display: block;
         z-index: 998;
    }

    .btnServicio{
        width :32%; border-radius: 0px; outline: none;
    }
    .img-header{
        height: 150px;
        margin-top:-10px;
    }
    .navbar-toggler{
        padding-top: 41px !important;
    }        
        

    #container-brava .indicadorCarrousel{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border-color: grey;
        border-width: 1px;
        border: solid;
        margin-right: 10px;
        margin-left: 10px;
        bottom: -50px;
    }
    #container-brava .carousel-indicators li{
        background-color: transparent;
        border-color: grey;
    }
    .active{
        background-color: grey !important;
        border: none !important;
    }

    @media (min-width:768px) {

        .burger {
            display: none;
        }
        .menu {
            display: block;
        }
    }
    @media (max-width:768px) {
        #header{
            height:  90px  !important   ;
            background-position-y: -11px !important;
        }
        #footer{
            background-position-x: -215px  !important;
            background-position-y: -20px !important;
        }
        /*.slider{
            width: 100% !important;
            display: block!important;
            margin-left: auto!important;
            margin-right: auto!important;
        }*/
        .imgBeneficios{
            width: 50px !important    ;
        }

        .img-header{
            height: 90px    !important;
            margin-top:3px  !important
        }
        .btnServicio{
            width :32%; border-radius: 0px; outline: none;
            height: 110px !important;
        }
        #nosotros {
            height: 22vh;
            margin-top: 1rem;
        }
        .title {
            font-size: 1.5rem;
        }
        #nosotros h1 {
            font-size: 2rem;
        }
        #nosotros h2 {
            font-size: 1.5rem;
        }
        #nosotros .container-fluid {
            padding: 2% 5%;
        }
        #servicios .carousel-indicators {
            bottom: 1rem;
        }
        #servicios .card-title {
            margin-top: 5rem;
        }
        #container-brava #servicios .indicadorCarrousel{
            width: 20px;
            height: 5px;
            border-radius: 0;
            border-color: transparent;
            border-width: 0;
            border: none;
        }
        #container-brava #servicios .carousel-indicators li{
            background-color: #6c757d;
        }
        #container-brava .indicadorCarrousel{
            width: 10px;
            height: 10px;
            bottom: -78px;
        }

    }